article img {
    border: 1px solid black;
    display: block;
    margin: auto;
    width: 100%;
}
article {
    text-align: justify;
    padding: 10px;
    max-width: 32%;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer {
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 730px) {
    .content {
        flex-direction: column;
    }
    article {
        margin: auto;
        max-width: 90%;
    }
}
