#menu {
    background-color: #212121;
}
#menu h1 {
    color: #FFFFFF;
}
#menu a {
    color: #FFFFFF;
    text-decoration: none;
}
#menu a:hover {
    opacity: 0.50;
}
#menu li {
    display: inline-block;
    margin: 0 10px 0px 10px;
}
#menu ul {
    margin: 0px;
    padding: 0px;
}
#menu img {
    vertical-align: middle;
    margin: 5px;
}
@media screen and (max-width: 730px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #menu li {
        display: block;
        text-align: center;
    }
    #menu img {
        margin-left: auto;
        margin-right: auto;
    }
}
