<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laboratoire 7</title>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/content.css">
</head>

<body>

<div id="navbar">
</div>

<div id="content">
</div>

<script type="text/template" id="navbar-template">
    <h1>Weather it rains or not</h1>
    <p>
        <i class="material-icons dp48">location_on</i>
        <%= location.city %>
    </p>
</script>

<script type="text/template" id="weather-template">
    <h2>Week forecast</h2>
    <% _.each(days, function(day){ %>
    <div class="dayForecast">
        <h3><%= day.date.weekday %></h3>
        <img src=<%= day.icon_url%>>
        <p>High: <%= day.high.celsius %> C</p>
    </div>
    <% }); %>
</script>

<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/models/day.js"></script>
<script type="text/javascript" src="js/models/location.js"></script>
<script type="text/javascript" src="js/collections/week.js"></script>
<script type="text/javascript" src="js/views/navbarView.js"></script>
<script type="text/javascript" src="js/views/weatherView.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>