<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 9</title>
</head>

<body>

<div id="content"></div>

<script type="text/template" id="login-page-template">
    <h1>Login</h1>
    <div><label>Username <input type="text" id="username"></label></div>
    <div><label>Password <input type="password" id="password"></label></div>
    <button id="login-btn">OK</button>
</script>

<script type="text/template" id="user-profile-template">
    <h1><%= user.username%> profile</h1>
    <p>Welcome!</p>
    <p>Email: <%= user.email%></p>
</script>

<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="modules/js.cookie.js"></script>
<script type="text/javascript" src="js/views/loginView.js"></script>
<script type="text/javascript" src="js/views/userProfileView.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
