body>div {
    display: flex;
    justify-content: center;
}
#carousel {
    align-items: center;
}
#carousel-images>img:not(:first-child) {
    display: none;
}
.arrow {
    width: 64px;
    height: 54px;
    transition: scale .2s ease-in-out;
}
.arrow:hover {
    transform: scale(1.1);
}
#radio-buttons > input{
    margin: 2.5px;
}
