#hidden-edit-note-section{
    justify-content: center;
    margin-top: 30px;
    display: none;
}
#hidden-add-note-section
{
    justify-content: center;
    margin-top: 30px;
}
#hidden-add-note-section > .card ,
#hidden-edit-note-section > .card,
.input-field{
    width: 75%;
}
#add-main-btn {
    background-color: green;
}
#edit-main-btn {
    background-color: blue;
}
#delete-btn {
    background-color: red;
}
ul,li{
    list-style:none;
}
ul{
    overflow:hidden;
    padding:3em;
}
ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
ul li{
    margin:1em;
    float:left;
}
ul li a:hover, .mySelected{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
}
ul li p{
    word-wrap: break-word;
}
