#content {
    padding: 10px 0 0 10px;
}

.dayForecast {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    background-color: #E6E6E6;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 10px;
    max-width: 25%;
    display: inline-block;
}
