<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laboratoire 5</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/notes.css">
</head>

<body>
<div id="title">
    <h1>Post-It!</h1>
</div>
<div id="buttons-container">
    <button class="waves-effect waves-light btn" id="add-main-btn"><i class="material-icons left">add</i>Add</button>
    <button class="waves-effect waves-light btn" id="delete-btn" disabled><i class="material-icons left">delete</i>Delete
    </button>
    <button class="waves-effect waves-light btn" id="edit-main-btn" disabled><i
            class="material-icons left">mode_edit</i>Edit
    </button>
</div>
<div id="hidden-add-note-section">
</div>
<div id="hidden-edit-note-section">
</div>
<div id="notes-section">
</div>

<script type="text/template" id="notes-section-template">
    <h3>Notes</h3>
    <% _.each(notes, function(note){ %>
    <ul id="notes-list">
        <li id=<%= note.id%>>
            <a id=<%= note.id%> href='#' class='notes'>
                <p id=<%= note.id%>><%= note.task%></p>
            </a>
        </li>
    </ul>
    <% });  %>
</script>

<script type="text/template" id="add-note-template">
    <div class="card row">
        <span class="card-title">Add note</span>
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="add-note-text" type="text" class="validate">
                        <label for="add-note-text">Note text</label>
                    </div>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" id="add-cancel-btn">Cancel</a>
                    <a class="waves-effect waves-light btn" id="add-note-btn">Add</a>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/template" id="edit-note-template">
    <div class="card row">
        <span class="card-title">Edit note</span>
        <div class="row">
            <form>
                <div class="row">
                    <div class="input-field">
                        <input id="edit-note-text"  type="text" class="validate" value="<%= note.text%>">
                        <label for="edit-note-text" class="active">Note text</label>
                    </div>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn" id="edit-cancel-btn">Cancel</a>
                    <a class="waves-effect waves-light btn" id="edit-note-btn">Edit</a>
                </div>
            </form>
        </div>
    </div>
</script>

<script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type='text/javascript'>
    $.fn.extend({
                Select: function() {
                    return $(this).addClass('mySelected');
                },
                Unselect: function() {
                    return $(this).removeClass('mySelected');
                }});
</script>
<script type="text/javascript" src="js/models/note.js"></script>
<script type="text/javascript" src="js/collections/notes.js"></script>
<script type="text/javascript" src="js/views/notesListView.js"></script>
<script type="text/javascript" src="js/views/addNoteView.js"></script>
<script type="text/javascript" src="js/views/editNoteView.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>