*{
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
#result{
    height: 50px;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    background: #000;
    color:#fff;
    padding:0 10px;
}
.calculator {
    width: 400px;
    height: 300px;
    border: 5px solid darkorange;
}
#buttons {
    display: flex;
    flex-direction: row;
    height: 240px;
}
#left-button-grid,
#right-button-grid{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    height: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    height: 25%;
}
.row input {
    width: 100%;
    font-size: 20px;
}