body {
    background-color: #5C9DDE;
}

.task-title {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size:35px;
    color:#FFFF66;
}

button {
    border: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    border-radius: 4px;
    padding: 15px 30px;
    color: #5C9DDE;
    background-color: #ffffff;
    cursor:pointer;
}

button:hover {
    background-color: #FFFF66;
}

#task-editor-container {
    width: 600px;
    margin-bottom: 50px;
}

#task-editor, .task-content {
    width: 97%;
    height: 150px;
    border: 3px solid #cccccc;
    padding: 2px 10px;
    background-position: bottom right;
    background-repeat: no-repeat;
    font: normal 20px verdana;
    line-height: 25px;
}

#task-editor {
    width: 100%;
}

.task-content {
    width:200px;
    height:100px;
    font: normal 15px verdana;
}

.task {
    width: 350px;
    position: relative;
    display: inline-block;
}

.task button {
    position: absolute;
    width: 100px;
}

.task .btn-save {
    top:0;
    margin-top:0px;
}

.task .btn-delete {
    bottom: 0;
}

#error-handler {
    color:white;
    font-weight:bold;
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0.8);
    padding:15px 15px;
    width: 600px;
}

@media screen and (max-width: 600px) {
    #task-editor-container {
        width: 95%;
    }

    .task {
        text-align:center;
    }
}